# Ignorar a pasta do ambiente virtual
venv/
.venv/ # Algumas ferramentas podem criar .venv

# Ignorar arquivos de cache e compilados do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar arquivos gerados pelo Flask/Werkzeug
.flaskenv

# Ignorar a pasta de uploads (onde os áudios são salvos temporariamente)
uploads/

# Ignorar arquivos de log
*.log

# Ignorar arquivos de IDEs (se usar)
.vscode/
.idea/

# Ignorar arquivos de sistema operacional
.DS_Store # macOS
Thumbs.db # Windows

# ignorar arquivos de log
app.log